{% extends 'base.html.twig' %}

{% block navigation %}
    <nav>
        <ul>
            <li><a href="#presentation" class="current">Présentation</a></li>
            <li><a href="#search_game">Rechercher un jeu</a></li>
            <li><a href="#show_informations_game">Afficher toutes les infos. d'un jeu</a></li>
            <li><a href="#credits">License & crédits</a></li>
        </ul>
    </nav>
{% endblock %}

{% block content %}
    <div class="section-txt" id="presentation">
        <h3>Présentation</h3>
        <p>
            L'API vous permet de récupérer les informations de n'importe quel jeu à partir du site
            <a href="http://www.metacritic.com" target="_blank"><b>metacritic</b></a>.
        </p>
        <p>
            <b>Notez que l'API ne fait que retourner les informations récupérées et ne stocke rien.</b>
        </p>
    </div>
    <div class="section-txt" id="search_game">
        <h3>Rechercher un jeu</h3>
        <p>Il est possible de rechercher un jeu à partir de son nom via l'API. Une liste de jeux correspondants au critère de la recherche va ainsi être remontée.</p>
        <pre class="prettyprint">https://chicken-coop.fr/rest/games?title=[TITRE]</pre>
        <pre class="prettyprint">{
  "executionTime": 3.447542,
  "result": {
    {
      "title": "Rise of the Tomb Raider: 20 Year Celebration",
      "platform": "PS4"
    },
    {
      "title": "Rise of the Tomb Raider",
      "platform": "PC"
    },
    {
      "title": "Tomb Raider: Definitive Edition",
      "platform": "PS4"
    },
    {
      "title": "Tomb Raider",
      "platform": "PC"
    },
    {
      "title": "Shadow of the Tomb Raider",
      "platform": "PS4"
    }
  },
  "countResult": 5
}</pre>
    </div>

    <div class="section-txt" id="show_informations_game">
        <h3>Récupérer les informations d'un jeu</h3>
        <p>L'API permet de récupérer une ou plusieurs des informations suivantes sur un jeu en particulier : </p>
        <table>
            <thead>
            <tr>
                <th>Nom de l'information</th>
                <th>Nom du selecteur à inclure dans la requête</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Titre</td>
                    <td>selectors[]=title</td>
                </tr>
                <tr>
                    <td>Genre</td>
                    <td>selectors[]=genre</td>
                </tr>
                <tr>
                    <td>Score Metacritic</td>
                    <td>selectors[]=genre</td>
                </tr>
                <tr>
                    <td>Plateforme</td>
                    <td>selectors[]=platform</td>
                </tr>
                <tr>
                    <td>Image de couverture</td>
                    <td>selectors[]=image</td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td>selectors[]=description</td>
                </tr>
                <tr>
                    <td>Société chargée du développement</td>
                    <td>selectors[]=developer</td>
                </tr>
                <tr>
                    <td>Société chargée de l'édition</td>
                    <td>selectors[]=publisher</td>
                </tr>
                <tr>
                    <td>Date de sortie</td>
                    <td>selectors[]=releaseDate</td>
                </tr>
                <tr>
                    <td>Classement ESRB</td>
                    <td>selectors[]=rating</td>
                </tr>
            </tbody>
        </table>
        <p>Il est possible d'expliciter la plateforme sur laquelle on veut récupérer les informations d'un jeu. Par défaut, l'API recherche <b>toutes</b> les informations d'un titre sur <b>PC</b>.</p>
        <pre class="prettyprint">https://chicken-coop.fr/rest/games/[TITRE]?platform=[PLATEFORME]&selectors[]=title&selectors[]=genre&selectors[]=score&selectors[]=alsoAvailableOn&selectors[]=image&selectors[]=description</pre>
        <pre class="prettyprint">{
  "executionTime": 4.155949,
  "result": {
    "title": "Shadow of the Tomb Raider",
    "genre": [
      "Action Adventure",
      "General"
    ],
    "score": "77",
    "alsoAvailableOn": [
      "PlayStation 4",
      "Xbox One"
    ],
    "image": "https://static.metacritic.com/images/products/games/6/c1568d68fcd098fe77f02574c1-98.jpg",
    "description": "Experience Lara Croft's defining moment as she becomes the Tomb Raider."
  }
}</pre>
    </div>
    <div class="section-txt" id="credits">
        <h3>License & crédits</h3>
        <p>L'API utilise <a href="http://www.metacritic.com" target="_blank">Metacritic</a> et est maintenue par <a href="https://www.jerome-dumas.fr" target="_blank"> un développeur masqué.</a></p>
    </div>
{% endblock %}